{% extends "base.html" %}
{% block title %} Profile Page {% endblock %}
{% block content %}

<div class="container mt-5">
  <h1 class="text-primary">Edit Profile-{{ user.username }}</h1>
  <hr>

  <div class="row">
    <!-- Profile picture column -->
    <div class="col-md-3 text-center">
    <img src="{{ url_for('static', filename=user.profile_picture) }}" class="rounded-circle img-fluid" style="width: 150px; height: 150px;" alt="avatar">
      <h6 class="mt-2">Upload a different photo...</h6>
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('users.upload_profile_picture') }}">
        {{ form.csrf_token }}
        {{ form.profile_picture(class="form-control mb-2") }}
        {{ form.submit_profile(class="btn btn-primary") }}
      </form>
      <form method="POST" action="{{ url_for('users.reset_profile_picture') }}">
        {{ form.csrf_token }}
        <button type="submit" class="btn btn-danger mt-2" id="liveToastBtn">Reset Profile Picture</button>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Information</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            You can get various avatars from this website <a href="https://www.dicebear.com/playground/">DiceBear</a>
          </div>
        </div>
      </div>

  
      </form>
    </div>

    <!-- Form column -->
    <div class="col-md-9">

      <h3 class="mb-3">Personal Info</h3>

      <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Username</label>
          <div class="col-sm-9">
            {{ form.username(class="form-control", value=user.username) }}
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            {{ form.email(class="form-control",value=user.email) }}
          </div>
        </div>

        <div class="text-end">
          {{ form.submit(class="btn btn-success") }}
        </div>
      </form>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <main class="col-12 col-lg-9 mt-4">
    {% for post in posts %}
    {% set liked = post.likes | selectattr("user_id", "equalto", current_user.id) | list | length > 0 %}
    {% set edit=True %}
    {% include "_post_card.html" %}
{% block like_script %}
{% endblock %}


      {% endfor %}
    </main>
</div>

  {% if request.args.get('toast') == 'reset-success' %}
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          const toastElement = document.getElementById('liveToast');
          const toast = new bootstrap.Toast(toastElement, { autohide: false });
          toast.show();
        });
      </script>
  {% endif %}


{% endblock %}