{% extends "base.html" %}
{% block title %} Profile Page {% endblock %}
{% block content %}

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h3 class="fs-6 text-secondary mb-2 text-uppercase text-center">{{ user.username }}'s Posts</h3>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>
<div class="d-flex justify-content-center">
      <main class="col-12 col-lg-9 mt-4">
      {% for post in posts %}
      {% set liked = post.likes | selectattr("user_id", "equalto", current_user.id) | list | length > 0 %}
      {% include "_post_card.html" %}

      
{% block like_script %}

{% endblock %}



      {% endfor %}
    </main>
    </div>

  {% endblock %}